@font-face {
  font-family: 'Cera Pro';
  src: url('./assets/fonts/CeraPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Cera Pro';
  src: url('./assets/fonts/CeraPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Altissimo';
  src: url('./assets/fonts/Altissimo-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Altissimo';
  src: url('./assets/fonts/Altissimo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* Add other Altissimo weights as needed */
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Altissimo', sans-serif;
  letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cera Pro', sans-serif;
}